@use 'styles/partials/variables' as *;

@import 'node_modules/bootstrap/scss/bootstrap'; //npm install bootstrap

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cont {
    max-width: 1160px;
    margin: 0 auto;
    width: 70%;
}